<launch>
  <arg name="ROBOT" default="$(optenv ROBOT fetch)" />

  <node name="publish_gray_img" pkg="elevator_move_base_fetch" type="publish_gray_img.py"
        respawn="true"/>

  <include file="$(find elevator_move_base_fetch)/launch/elevator_move_base_modules.xml">
    <arg name="scene" value="eng2" />
  </include>

</launch>
